section .content-container {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}


.equipment-table-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #252323;
    padding: 10px;
}

th {
    background-color: #285ba7;
    font-weight: bold;
    text-align: center;
    color: white;
}

td {
    text-align: center;
    cursor: pointer;
}

.status-returned {
    color: green;
    font-weight: bold;
}

.status-not-returned {
    color: red;
    font-weight: bold;
}

.sub-main {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.search-area {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.search-area input[type="search"] {
    padding-left: 35px;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
    width: 300px;
}

.search-area .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
}

.sub-main button {
    padding: 7px;
    background-color: #285aa5;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 115px;
}

button:hover {
    background-color: #0e49a1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% 32%;
    padding: 20px;
    border: 1px solid #888;
    width: 565px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #285ba7;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 40px;
}

.close {
    margin-top: -21px;
    margin-right: -10px;
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.view-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.accept-btn {
    background-color: rgb(45, 80, 145);
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4%;
}

.modal-content p {
    margin-bottom: 5px;
}

.accept-btn:hover {
    background-color: rgb(8, 43, 107);
}

.reject-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.reject-btn:hover {
    background-color: #c82333;
}

.proceed-btn {
    background-color: rgb(43, 77, 141);
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 180px;
}

.proceed-btn:hover {
    background-color: rgb(9, 37, 88);
}


.form-section1 {
    float: left;
    margin-bottom: 10px;
}

.form-section2 {
    float: right;
    margin-bottom: 10px;
}

.form-section input[type="text"],
[type="number"],
[type="datetime-local"] {
    width: 250px;
    height: 25px;
}

.form-section select {
    width: 250px;
    height: 25px;
}

.form-section label {
    font-weight: bold;
}

#response_accepted_info {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.response-accepted-modal {
    background-color: white;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    margin: auto;
    margin-top: 15%;
    width: 350px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.response-accepted-modal textarea {
    width: 307px;
}

.response-accepted-modal button {
    margin-left: 35%;
    margin-top: 7px;
}


#response_rejected_info {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.response-rejected-modal {
    background-color: white;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    margin: auto;
    margin-top: 15%;
    width: 350px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.response-rejected-modal textarea {
    width: 307px;
}

.response-rejected-modal button {
    margin-left: 35%;
    margin-top: 10px;
}

.view-btns {
    font-size: 15px;
    font-weight: bold;
    color: rgb(28, 75, 102);
    margin-right: 4px;
}

.view-btns:hover {
    border-bottom: 1px solid rgb(28, 75, 102);
}

.edit-btns {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.edit-btns:hover {
    border-bottom: 1px solid red;
}

.status-notaccepted {
    color: green;
    font-weight: bold;
}

.status-accepted {
    color: red;
    font-weight: bold;
}

#view_accepted_response {
    margin-top: 3px;
}

#view_rejected_response {
    margin-top: 3px;
}

.error {
    color: red;
    font-size: 0.9rem;
    display: none;
    /* Hide the error message by default */
}

@media (max-width: 780px){

    body {
        overflow-x: scroll;
    }

    .equipment-table-container {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 790px;
        padding: 20px;
        margin: auto;
        border-radius: 8px;

    }
    .equipment-table-container .sub-main .search-area input {
        font-size: 11px;
    }

    .equipment-table-container .sub-main .search-area i {
        font-size: 11px;
    }

    
    #borrowedTable a {
        font-size: 11px;
    }

    .header h2 {
        padding-top: 10px;
        font-size: 17px;
    }

    .sub-main .add-btn button {
        font-size: 11px;
    }

    #blotterTable a {
        font-size: 11px;
    }

    .equipment-table-container .sub-main .search-area {
        font-size: 11px;
    }

    .modal-content h2 {
        background-color: white;
        color: rgb(28, 75, 102);
        font-size: 14px;
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        
    }
    .modal-content {
        background-color: #fefefe;
        margin: 25% 30%;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
 
    .form-section .form-section1{
        float: left;
        width: 100%;
    } 

    .form-section .form-section2{
        float: left;
        width: 100%;
    }

    .form-section input[type="text"],
    input[type="number"] {
        width: 100%;
        float: left;
        font-size: 11px;
        margin: auto;
    }

    .form-section input[type="datetime-local"] {
        width:100%;
        font-size: 9px;
    }
    table {
        font-size: 12px;
    }

    .form-section ::placeholder {
        font-size: 10px;
    }

    .form-section textarea {
        width: 100%;
        float: left;
        font-size: 11px;
        margin: auto;
    }

    .form-section select {
        width: 100%;
        float: left;
        font-size: 11px;
    }

    .form-section .proceed-btn {
        width: 100%;
        margin: auto;
        font-size: 11px;
    }

    .modal-content .file-blotter-btn {
        width: 100%;
        margin: auto;
        font-size: 11px;
        padding: 3px 5px;
        margin-top: 10px;
    }

    
    #countValue {
        font-size: 11px;
        margin-top: -10px;
    }
}